---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { VisitBookEntries } from "../../components/VisitBookEntries";
import { GithubLoginButton } from "../../components/GithubLoginButton";
import { VisitForm } from "../../components/VisitForm";
const API_BASE_URL = await import.meta.env.PUBLIC_API_URL;
const GITHUB_CLEINT_ID = await import.meta.env.PUBLIC_GITHUB_CLIENT_ID;
const url = API_BASE_URL + "/auth/login/github/";
---

<BaseLayout sideBarActiveItemID="visitbook" title="Visistbook">
    <section class="p-4 md:min-w-[700px]">
        <h1 class="text-4xl font-bold mb-4">Visitbook</h1>
        <h2 class="text-md font-mono mb-4">Latest:</h2>
        <VisitBookEntries />
        <VisitForm />
    </section>
    <GithubLoginButton url={url} client_id={GITHUB_CLEINT_ID} />
</BaseLayout>
