---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";


---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-5xl font-bold">I'm Brahim Abderrahim</div>
      <div class="text-3xl py-3 font-bold">Software Engineer Student</div>
      <div class="py-2">
        <text class="text-lg">
          As a software engineering student, 
          I am constantly seeking out new challenges and opportunities to expand my skills and knowledge. 
          I am passionate about using technology to solve problems and create innovative solutions,
           and I am always looking for ways to make a positive impact through my work.          </text
        >
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
    </div>

    <HorizontalCard
      title='Kaadem'
      img="/Angspringboot.webp"
      desc="A full Stack web application built using Angular/springBoot."
      url="#"
      badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Ija Campi"
    img="/smfony4.png"
    desc="E-commerce platform made with Symfony 4"
    url="#"
  />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="SmartKids"
    img="/smartkids.webp"
    desc="A desktop application for managing a kindergardens made with C++ using the Qt framework ."
    url="#"
    badge=""
    
  />


</BaseLayout>
