---
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
const posts = (await getCollection("project")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const last_posts = posts.slice(0, 3);
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Brahim Abderrahim</div>
    <div class="text-3xl py-3 font-bold">Software Engineering Student</div>
    <div class="py-2">
      <text class="text-lg">
        As a software engineering student, I am constantly seeking out new
        challenges and opportunities to expand my skills and knowledge. I am
        passionate about using technology to solve problems and create
        innovative solutions, and I am always looking for ways to make a
        positive impact through my work.
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      My lastest projects {"</>"}
    </div>
  </div>
  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/project/" + post.slug}
          target="_self"
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
