---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Brahim Abderrahim
  </div>
  <div class="inline opacity-75 text-xs">
    <a
      href="https://github.com/manuelernestog/astro-modern-personal-website"
      target="_blank"
      class="font-bold">⚡️Template</a
    >
  </div>
</footer>
<style>

</style>
